<div class="card">
  <h3 class="card-header">Login</h3>
  <form id="login-form" class="card-body">
    <label for="form-label" for="username-login">Username</label>
    <input type="text" id="username-login" autofocus="true" class="form-input" />

    <label for="password-login" class="form-label">Password</label>
    <input type="password" id="password-login" autofocus="true" class="form-input" />

    <button type="submit" class="btn">Login</button>
    <a type="login-link" href="/signup">Sign-Up</a>
  </form>
</div>

<script src="./js/login.js"></script>