<div class="card">
  <h3 class="card-header">Signup</h3>
  <form id="form signup-form" class="card-body">
    <label for="username-signup" class="form-label">Username</label>
    <input type="text" id="username-signup" class="form-input" />

    <label for="password-signup" class="form-label">Password</label>
    <input type="password" id="password-signup" class="form-input" />

    <button class="btn btn-primary" type="submit">Signup</button>
    <a href="/login" class="login-link">Login</a>
  </form>
</div>

<script src="/js/signup.js"></script>